@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200&display=swap");

* {
  scroll-margin-top: 65px;
}

a {
  color: #6969ff;
}

*::-webkit-scrollbar {
  /* background: transparent; */
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(114, 113, 113, 0.342);
  border-radius: 4px;
}
